NODE_ENV = production

ADMIN=true
PORT=8080

#mongoDB || fileSystem
PERSISTENCIA= 

#mongoAtlas || mongoLocas
MONGO_URL=

ACCESS_TOKEN_SECRET=<token secreto JWT>
TOKEN_EXPIRATION_TIME=60m

GMAIL_USER=
GMAIL_PASS=
ADMIN_EMAIL=

MODO_CLUSTER=false